html{
	overflow: hidden;
}
.logo-header	{
	margin-bottom: -25px;
}
.footer {
	overflow: hidden;
 background-color: black;
	border-radius: 15px 15px 15px 15px;
	opacity: 0.9;
	margin: 82px -70px 0px -550px;
	width:auto;
}

.footer a {
	text-align: center;
	padding: 14px 16px;
	color: white;
	text-decoration: none;
}

.header {
	overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
	margin: -200px -70px 100px -550px;
/* 	margin: -100px -70px 50px -550px; */
}
.error {
	text-align: center;
	padding: 10px 15px;
	color: red;
	opacity: 0.3%;
}

.header a {
	float: right;
	display: block;
	color: white; 
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

body{
	margin:0;
	color:white;

	background:url(/images/mainFon.jpg) no-repeat ;
	font:600 16px/18px 'Open Sans',sans-serif;
	background-size: 1580px 900px;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

#polosa{
    position: relative;
    transition:all ease 1s;
    width: 3800px;
    left: 0;
}

#polosa img{
	float: left;
}

#polosa::after{
    content: "";
    display: block;
    clear: both;
}

header a:hover {
	background-color: black;
	color: black;
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:1920px;
	min-height:1080px;
	position:relative;
	background-size: cover;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
img{
	size: 100px 100px;
}

.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:200px 70px 50px 550px;
	background: rgba(41, 58, 102, 0.75);
}



.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input
{
	outline:none;
	width:100%;
	color:#fff;
	display:block;
}


input[type="text"]::-webkit-input-placeholder {
	color: rgba(252, 252, 252, 0.51);
}
input[type="password"]::-webkit-input-placeholder {
	color: rgba(252, 252, 252, 0.51);
}

.login-form .group .button,
.login-form .group .input{
	outline:none;
	width:50%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.20);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:white;
	font-size:12px;
}
.login-form .group .button{
	background: rgba(21, 80, 229, 0.86);
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}

.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}