 {
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    padding: 10px;
    background: url("http://bodytrain.ru/wp-content/uploads/2016/08/programma-trenirovok-v-trenazhernom-zale-dlya-muzhchin-foto.jpg");
    background-size: cover;
    overflow: hidden;
}

/* Style the top navigation bar */
header {
    overflow: hidden;
    background-color: #393E46;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.9;
}

.welcome{
     background-color: #393E46;
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

 .flex-container {
     display: flex;
     border:1px #ccc solid;
     height: border-box;
 }

 .space-around{
     justify-content: space-around;
 }
 .flex-item {
     text-align:center;
     font-size: 1em;
     padding: 1.5em;
     color: white;
 }
 .color1 {background-color: #675BA7;}
 .color2 {background-color: #9BC850;}
 .color3 {background-color: #A62E5C;}
 .color4 {background-color: #2A9FBC;}
 .color5 {background-color: #F15B2A;}

header a {
    float: right;
    background-color: #393E46;
    display: block;
    color: white;
    width: 100px;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
header a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a card effect for articles */
.card {
    background-color: rgba(193, 196, 201, 0.86);
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    margin-top: 20px;
    height: 540px;
    overflow: hidden;
}

/* Clear floats after the columns */
.card:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
footer {
    text-align: left;
    margin-top: 20px;
    overflow: hidden;
    background-color: #393E46;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.9;
}

footer h4 {
    padding: 0 15px;
}

/* Create three unequal columns that floats next to each other */

/* Left and right column */
.side {
    width: 73%;
    float: left;
    padding: 10px;
}

#lots {
    border-collapse: collapse;
    width: 100%;
}

#lots td, #lots th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#lots tr:nth-child(even) {
    background-color: rgba(29, 33, 43, 0.86);
}

#lots tr:hover {
    background-color: rgba(29, 33, 43, 0.86);
}

#lots th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(29, 33, 43, 0.86);
    color: white;
}

.side  a{
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(29, 33, 43, 0.86);
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100px;
}


/* Middle column */


select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

.row #findButton {
    background-color: #393E46;
    color: white;
    padding: 8px 40px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.row #findButton:hover {
    background-color: #ddd;
    color: black;
}

.findButtonDiv {
    text-align: center;
}

.vehicleFinderHeader {
    text-align: center;
    background-color: #00ADB5;
    padding: 10px;
    color: white;
}

.vehicleFinder {
    margin: 15px;
}

.container {
    height: 50%;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-10 {
    float: left;
    width: 10%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
     .side, .middle, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .lots {
        width: 100%;
        overflow-x: auto;
        display: block;
    }
}

.myText{
}


